{% extends 'base.html.twig' %}

{% block title %}Translations{% endblock %}

{% block body %}
    <h1 style="color: red">Translations</h1>

    {% include 'translation/parts/import_and_export.html.twig' %}

    <table class="table table-responsive small">
        <thead>
        <tr>
            <th>Entity</th>
            <th>English</th>
            <th>French</th>
            <th>German</th>
            <th>Spanish</th>
            <th>Russian</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for translation in translations %}
            <tr>
                <td>{{ translation.entity }}</td>
                <td>{{ translation.english }}</td>
                <td>{{ translation.french }}</td>
                <td>{{ translation.german }}</td>
                <td>{{ translation.spanish }}</td>
                <td>{{ translation.russian }}</td>
                <td>
                    <a class="btn btn-outline-danger btn-sm"
                       href="{{ path('translation_edit', {'id': translation.id}) }}">Edit</a>
                </td>
                <td>
                    <form method="post" action="{{ path('translation_delete', {'id': translation.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ translation.id) }}">
                        <button class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": true,
                "searching": false,
                "bInfo": true
            });
        });
    </script>
{% endblock datatable %}
