<div class="row">
    <div class="col-2">
        <a target="_blank" class="btn btn-success btn-sm" href="{{ path('cms_copy_new') }}">New</a>
    </div>
    <div class="col-2">
        <a class="btn btn-outline-primary btn-sm" href="{{ path('cms_copy_update_ranking') }}">Re-number</a>
    </div>
    <div class="col-3">
        <a class="btn btn-outline-primary btn-sm" href="{{ path('cms_copy_export') }}">Export</a>
        <a class="btn btn-outline-primary btn-sm" href="{{ path('cms_copy_import') }}">Import</a>
    </div>
    <div class="col-3">
        <a target="_blank" class="btn btn-outline-primary btn-sm" href="{{ path('product_index') }}">Products</a>
        <a target="_blank" class="btn btn-outline-primary btn-sm" href="{{ path('cms_photo_index') }}">Photos</a>
    </div>
    <div class="col-2 desktop">
        <a class="btn btn-outline-danger btn-sm" href="{{ path('cms_copy_reset_counters') }}">Reset counters</a>
        <a target="_blank" class="btn btn-danger btn-sm" href="{{ path('cms_copy_delete_all_files') }}">Delete All
            Files</a>
    </div>
</div>
<br>