<div class="row">
    <div class="col-2">
        {% if is_granted('ROLE_ADMIN') %}
            <a target="_blank" class="btn btn-success btn-sm" href="{{ path('useful_links_new') }}">New</a>
            <br>
        {% endif %}
    </div>

    <div class="col-4">
        <a class="btn btn-outline-primary btn-sm" href="{{ path('useful_links_export') }}">Export</a>
        <a class="btn btn-outline-primary btn-sm" href="{{ path('useful_links_import') }}">Import</a>
    </div>
    <div class="col-2">
        <a class="btn btn-outline-danger btn-sm" href="{{ path('map_icons_delete_all') }}">Delete All</a>
    </div>
</div>


<div class="row">
    <div class="col-9">
        <a class="btn btn-outline-primary btn-sm"
           href="{{ path('useful_links_index', {category:'All'}) }}">All</a>
        {% for category in categories %}
            {% if CountAllocatedWebsites.countAllocatedWebsites(category) >0 %}
                {% if category == category_chosen %}
                    <a class="btn btn-outline-danger btn-sm"
                       href="{{ path('useful_links_index', {category:category}) }}">{{ category }}
                        (#{{ CountAllocatedWebsites.countAllocatedWebsites(category) }})
                    </a>
                {% else %}
                    <a class="btn btn-outline-secondary btn-sm"
                       href="{{ path('useful_links_index', {category:category}) }}">{{ category }}
                        (#{{ CountAllocatedWebsites.countAllocatedWebsites(category) }})
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

</div>


