{% block body %}

    <h2>Welcome to {{ CompanyDetailsService.companyDetails.companyName }}</h2>
    <p>
        Please click on the link below to verify your email address.<br>
        <a class="btn btn-success btn-sm" href="{{ verifyEmailURL }}">Verify E-mail</a>
    </p>

    {% if products_requested_email is not empty %}
        <h2>Topics</h2>
        <ul>
            {% for product_requested in products_requested_email %}
                <h4><b>{{ product_requested.product.product }}</b></h4>
                {{ product_requested.product.newClientEmail|raw }}
                <hr><br>
            {% endfor %}
        </ul>
    {% endif %}

    <p>
        Kind regards,
        <br>
        {{ CompanyDetailsService.companyDetails.contactFirstName }} {{ CompanyDetailsService.companyDetails.contactLastName }}
    </p>

    {% include 'website_contacts/contact_details_signature.html.twig' %}
{% endblock %}

