<td>
    <a target="_blank" href="{{ path('user_edit', {id: user.id}) }}">
        {{ user.firstName }}
    </a>
</td>
<td>{{ user.lastName }}</td>
<td>{{ user.email }}</td>
<td>
    {{ user.mobile }}
</td>